@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1e3147, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1e3147, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

    h1{
        text-align: center;
        position: relative;
        
    }
}
